body, html {
    height: 100%;
}

/* The hero image */
.logo-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:  url("img/logo.png");

  /* Set a specific height */
  height: 35%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}